.imgT {
    max-width: 150px;
    min-width: auto;
    max-height: 150px;
    min-height: auto;
    border-radius: 15px;
    align-items: center;
    align-content: center;
}

.imgM {
    max-width: 80px;
    min-width: auto;
    max-height: 80px;
    min-height: auto;
    border-radius: 15px;
    align-content: center;
}

.imgC {
    max-width: 50px;
    min-width: auto;
    max-height: 50px;
    min-height: auto;
    border-radius: 15px;
    align-content: center;
}